.navigation {
    background-color: #0D1117;
    border-bottom: 1px solid #282C31;
    border-bottom: 1px solid #282C31;
    line-height: 24px;
    font-size: 14px;
    color: #C2CAD1;
    height: 73px;
    padding-top: 33px;

    .active {
    border-bottom: 3px solid #E77960;
}
}

